.comment {
  display: flex;
  gap: 24px;
  background-color: var(--white);
  border-radius: 8px;
  padding: 24px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content section {
  display: flex;
  justify-content: space-between;
}

.content section img.avatar {
  width: 32px;
}

.user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user strong {
  color: var(--dark-blue);
}

.user span,
.content p {
  color: var(--gray-blue);
  font-weight: 400;
  line-height: 150%;
}

.reply {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.reply p {
  color: var(--blue);
  font-weight: 700;
}

.reply img {
  filter: invert(37%) sepia(18%) saturate(2051%) hue-rotate(200deg)
    brightness(91%) contrast(92%);
}

/*^ If Reply Message */

.content span.replyingTo {
  color: var(--blue);
  font-weight: 700;
}

/*** Hovers */

.reply:hover p {
  color: var(--light-gray-blue);
}

.reply:hover img {
  filter: invert(82%) sepia(8%) saturate(889%) hue-rotate(201deg)
    brightness(96%) contrast(96%);
}
