.voteCounter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 12px 0;
  background-color: #f5f6fa;
  border-radius: 10px;
}

.voteCounter button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.voteCounter button img {
  filter: invert(79%) sepia(29%) saturate(416%) hue-rotate(201deg) brightness(99%)
    contrast(88%);
}

.voteCounter span {
  color: var(--blue);
  font-weight: 700;
}

/*** Hovers */

.voteCounter button:hover img,
.voteCounter .voted img {
  filter: invert(39%) sepia(14%) saturate(3377%) hue-rotate(204deg) brightness(85%)
    contrast(88%);
}

@media only screen and (max-width: 768px) {
  .voteCounter {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 40px;
  }

  .voteCounter button {
    display: flex;
    align-items: center;
  }
}
