.chat {
  max-width: 730px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.repliesCont {
  width: 100%;
  display: flex;
  margin: 20px 0;
}

.replies {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.repliesCont hr {
  width: 2px;
  border: none;
  margin: 0 43px;
  background-color: #e9ebf0;
  flex-shrink: 0;
}
